<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="{{ site.description }}">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
<!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <link rel="stylesheet" href="/public/css/goodreads.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <script type="text/x-mathjax-config">

 MathJax.Hub.Config({
     jax: ["input/TeX","output/SVG"],
     extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js"],
     TeX: {
         extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
     },
     tex2jax: {
         inlineMath: [ ['$','$'], ["\\(","\\)"] ],
         processEscapes: true
     }
 });

 </script>

<!-- use this to custom include JS in page. FrontMatter needs a jsarr variale to enact.  -->
{% if page.jsarr %}
    <script src="https://www.goodreads.com/review/custom_widget/59452243.Adam's%20bookshelf:%20read?cover_position=middle&cover_size=medium&num_books=100&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=rating&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1493531023&widget_text_color=000000&widget_title_size=medium&widget_width=full" type="text/javascript" charset="utf-8"></script>
{% endif %}

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>


  
</head>
